### pysus

In [10]:
!pip install PySUS

Requirement already satisfied: PySUS in /usr/local/lib/python3.6/dist-packages (0.3.9)
Requirement already satisfied: cffi>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from PySUS) (1.12.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from PySUS) (0.24.2)
Requirement already satisfied: dbfread in /usr/local/lib/python3.6/dist-packages (from PySUS) (2.0.7)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from PySUS) (2.21.0)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.6/dist-packages (from PySUS) (0.14.1)
Requirement already satisfied: fastparquet in /usr/local/lib/python3.6/dist-packages (from PySUS) (0.3.2)
Requirement already satisfied: geocoder in /usr/local/lib/python3.6/dist-packages (from PySUS) (1.38.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.6/dist-packages (from cffi>=1.0.0->PySUS) (2.19)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas->PySUS) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->PySUS) (2018.9)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from pandas->PySUS) (1.16.5)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->PySUS) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->PySUS) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->PySUS) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->PySUS) (3.0.4)
Requirement already satisfied: six>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from pyarrow->PySUS) (1.12.0)
Requirement already satisfied: thrift>=0.11.0 in /usr/local/lib/python3.6/dist-packages (from fastparquet->PySUS) (0.11.0)
Requirement already satisfied: numba>=0.28 in /usr/local/lib/python3.6/dist-packages (from fastparquet->PySUS) (0.40.1)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from geocoder->PySUS) (0.16.0)
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from geocoder->PySUS) (7.0)
Requirement already satisfied: ratelim in /usr/local/lib/python3.6/dist-packages (from geocoder->PySUS) (0.1.6)
Requirement already satisfied: llvmlite>=0.25.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.28->fastparquet->PySUS) (0.29.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ratelim->geocoder->PySUS) (4.4.0)

### import

In [0]:
import pandas as pd
from pysus.utilities.readdbc import read_dbc

### SIHSUS

In [0]:
RDES1801 = 'RDES1801.dbc'
RDES1802 = 'RDES1802.dbc'
RDES1803 = 'RDES1803.dbc'
RDES1804 = 'RDES1804.dbc'
RDES1806 = 'RDES1806.dbc'
RDES1807 = 'RDES1807.dbc'
RDES1808 = 'RDES1808.dbc'
RDES1809 = 'RDES1809.dbc'
RDES1810 = 'RDES1810.dbc'
RDES1811 = 'RDES1811.dbc'
RDES1812 = 'RDES1812.dbc'

SIHES1801 = read_dbc(RDES1801, encoding='iso-8859-1')
SIHES1802 = read_dbc(RDES1802, encoding='iso-8859-1')
SIHES1803 = read_dbc(RDES1803, encoding='iso-8859-1')
SIHES1804 = read_dbc(RDES1804, encoding='iso-8859-1')
SIHES1805 = read_dbc(RDES1805, encoding='iso-8859-1')
SIHES1806 = read_dbc(RDES1806, encoding='iso-8859-1')
SIHES1807 = read_dbc(RDES1807, encoding='iso-8859-1')
SIHES1808 = read_dbc(RDES1808, encoding='iso-8859-1')
SIHES1809 = read_dbc(RDES1809, encoding='iso-8859-1')
SIHES1810 = read_dbc(RDES1810, encoding='iso-8859-1')
SIHES1811 = read_dbc(RDES1811, encoding='iso-8859-1')
SIHES1812 = read_dbc(RDES1812, encoding='iso-8859-1')

SIHES = pd.concat([ SIHES1801,
                  SIHES1802,
                  SIHES1803,
                  SIHES1804,
                  SIHES1805,
                  SIHES1806,
                  SIHES1807,
                  SIHES1808,
                  SIHES1809,
                  SIHES1810,
                  SIHES1811,
                  SIHES1812 ])

In [19]:
SIHES.head()

    UF_ZI ANO_CMPT MES_CMPT ESPEC  ... TPDISEC6 TPDISEC7 TPDISEC8 TPDISEC9
0  320000     2018       01    03  ...        0        0        0        0
1  320000     2018       01    01  ...        0        0        0        0
2  320000     2018       01    01  ...        0        0        0        0
3  320000     2018       01    01  ...        0        0        0        0
4  320000     2018       01    01  ...        0        0        0        0

[5 rows x 113 columns]

In [20]:
SIHES.shape

(243040, 113)

In [0]:
SIHES.to_csv('SIHES2018.csv')